<app-default-component
	title="DBInput"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-input
			[variant]="exampleProps?.variant"
			[label]="exampleProps?.label"
			[message]="exampleProps?.message"
			[placeholder]="exampleName"
			[minLength]="exampleProps?.minLength"
			[required]="exampleProps?.required"
			[type]="exampleProps?.type"
			[disabled]="exampleProps?.disabled"
			[value]="exampleProps?.value"
			[icon]="exampleProps?.icon"
			[iconAfter]="exampleProps?.iconAfter"
			[readOnly]="exampleProps?.readOnly"
			[showLabel]="exampleProps?.showLabel"
			[showMessage]="exampleProps?.showMessage"
			[invalidMessage]="exampleProps?.invalidMessage"
			[validMessage]="exampleProps?.validMessage"
			[validation]="exampleProps?.validation"
			[dataList]="
				exampleProps?.dataList
					? getDataList(exampleProps?.variant)
					: undefined
			"
		></db-input>
	</ng-template>
</app-default-component>
