<app-default-component
	title="DBInput"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-input
			[variant]="exampleProps.variant"
			[label]="exampleProps.label"
			[message]="exampleProps.message"
			[placeholder]="exampleName"
			[minLength]="exampleProps.minLength"
			[required]="exampleProps.required"
			[type]="exampleProps.type"
			[disabled]="exampleProps.disabled"
			[value]="exampleProps.value"
			[icon]="exampleProps.icon"
			[invalid]="exampleProps.invalid"
			[iconAfter]="exampleProps.iconAfter"
			[invalidMessage]="
				exampleProps.invalid !== undefined || exampleProps.required
					? 'Invalid Message'
					: undefined
			"
			[validMessage]="
				exampleProps.invalid !== undefined || exampleProps.required
					? 'Valid Message'
					: undefined
			"
		></db-input>
	</ng-template>
</app-default-component>
