<app-default-component
	title="DBTooltip"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-button>
			{{ exampleName }}
			<db-tooltip
				[width]="exampleProps?.width"
				[emphasis]="exampleProps?.emphasis"
				[placement]="exampleProps?.placement"
				[animation]="exampleProps?.animation"
				[delay]="exampleProps?.delay"
				[variant]="exampleProps?.variant"
				>{{ exampleProps?.content }}</db-tooltip
			>
		</db-button>
	</ng-template>
</app-default-component>
