<app-default-component
	title="DBAccordion"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
		><ng-container>
			<db-infotext size="small" semantic="informational" icon="none">
				{{ exampleName }}
			</db-infotext>
			<db-accordion
				[behavior]="exampleProps?.behavior"
				[variant]="exampleProps?.variant"
			>
				<db-accordion-item
					[headlinePlain]="'Item 1'"
					text="Content 1"
				></db-accordion-item>
				<db-accordion-item
					[headlinePlain]="'Item 2'"
					text="Content 2"
				></db-accordion-item>
				<db-accordion-item
					[headlinePlain]="'Item 3'"
					text="Content 3"
				></db-accordion-item>
			</db-accordion>
		</ng-container>
	</ng-template>
</app-default-component>
