<app-default-component
	title="DBDrawer"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-drawer
			[backdrop]="exampleProps?.backdrop"
			[rounded]="exampleProps?.rounded"
			[width]="exampleProps?.width"
			[spacing]="exampleProps?.spacing"
			[direction]="exampleProps?.direction"
			[variant]="exampleProps?.variant"
			[open]="openDrawer === exampleName"
			(onClose)="toggleDrawer(undefined)"
		>
			{{ exampleName }}
		</db-drawer>
		<db-button (click)="toggleDrawer(exampleName)">
			Open: {{ exampleName }}
		</db-button>
	</ng-template>
</app-default-component>
