<!-- [html-validate-disable attr-case] -->
<div class="form-container">
	<div>
		<db-input
			name="ngModelInput"
			[(ngModel)]="model.input"
			label="Input with ngModel"
			placeholder="Placeholder"
			message="Description"
			icon="user"
		>
		</db-input>

		<db-textarea
			name="textarea"
			label="Textarea Controlled"
			placeholder="Placeholder"
			message="Description"
			icon="user"
			[value]="textarea"
			(change)="textarea = $event.target.value"
		></db-textarea>

		<db-textarea
			name="textarea"
			label="Textarea with defaultValue"
			placeholder="Placeholder"
			message="Description"
			icon="user"
			defaultValue="default value"
			(change)="textareaDefaultValue = $event.target.value"
		></db-textarea>

		<db-textarea
			name="ngModelTextarea"
			[(ngModel)]="model.textarea"
			label="Textarea with ngModel"
			placeholder="Placeholder"
			message="Description"
			icon="user"
			value="Textarea"
		></db-textarea>

		<db-checkbox
			[(ngModel)]="model.checkbox2"
			name="checkbox2"
			label="Checkbox ngModel"
		></db-checkbox>

		<p>DBSelect:</p>
		<db-select
			name="ngModelSelect"
			[(ngModel)]="model.select"
			label="Select with ngModel"
			message="Description"
		>
			<option value="test1">Test1</option>
			<option value="test2">Test2</option>
		</db-select>

		<p>Reactive Forms Example:</p>
		<form [formGroup]="form" (submit)="onFormSubmit()">
			<fieldset>
				<legend>Input:</legend>

				<db-input
					name="form"
					id="form"
					label="Textinput"
					placeholder="Placeholder"
					message="Description"
					icon="user"
					formControlName="input"
				>
				</db-input>

				<db-input
					name="form"
					id="datalist"
					label="Textinput with Datalist"
					placeholder="Placeholder"
					message="Description"
					[dataList]="dataList"
					icon="user"
				>
				</db-input>

				<db-input
					name="form"
					label="Date input"
					message="Description"
					type="date"
					formControlName="dateinput"
				>
				</db-input>

				<p>Radio:</p>
				<ul>
					@for (radioName of array; track radioName) {
						<li>
							<db-radio
								label="Label"
								name="RadioGroup"
								[value]="radioName"
								(change)="model.radio = radioName"
								[label]="getRadioName(radioName)"
							></db-radio>
						</li>
					}
				</ul>

				<p>Textarea:</p>

				<db-textarea
					name="textarea"
					id="textarea"
					label="Textarea"
					placeholder="Placeholder"
					message="Description"
					icon="user"
					formControlName="textarea"
				></db-textarea>

				<p>Tags:</p>
				<ul>
					@for (tag of array; track tag; let i = $index) {
						<li>
							<db-tag
								[semantic]="i === 0 ? undefined : 'successful'"
								[emphasis]="i === 2 ? 'strong' : 'weak'"
								><db-checkbox (onChange)="changeTags(tag)">{{
									getTagName(tag)
								}}</db-checkbox></db-tag
							>
						</li>
					}
				</ul>
				<p>Checkbox:</p>
				<db-checkbox
					formControlName="checkbox"
					name="checkbox4"
					label="Checkbox formControl value"
				></db-checkbox>
				<db-divider></db-divider>
				<db-checkbox
					name="checkbox"
					value="Checkbox checked"
					label="Checkbox Indeterminate"
					[checked]="checked[0] && checked[1]"
					[indeterminate]="checked[0] !== checked[1]"
					(change)="handleChange1($event)"
				></db-checkbox>
				<fieldset>
					<legend>Checkboxes</legend>
					<db-checkbox
						[checked]="checked[0]"
						(change)="handleChange2($event)"
						name="checkbox2"
						label="Checkbox"
					></db-checkbox>
					<db-checkbox
						[checked]="checked[1]"
						(change)="handleChange3($event)"
						name="checkbox3"
						label="Checkbox"
					></db-checkbox>
				</fieldset>
				<db-checkbox
					name="checkbox4"
					label="Checkbox with defaultValue"
					[defaultChecked]="true"
				></db-checkbox>
				<p>Select:</p>
				<db-select
					name="select"
					label="Select"
					placeholder="Placeholder"
					message="Description"
					icon="user"
					formControlName="select"
					(change)="handleChange4($event)"
				>
					<option value="test1">Test1</option>
					<option value="test2">Test2</option>
				</db-select>
				<!-- <db-select
        [value]="select"
        label="Label"
        (change)="select = $event.target.value"
        >
        <option value="test1">Test1</option>
        <option value="test2">Test2</option>
      </db-select> -->
				<p>Button:</p>
				<db-button type="button" (click)="resetValues()">
					Reset
				</db-button>
				<db-button type="submit" variant="brand">
					Hi from Showcase!
				</db-button>
			</fieldset>
		</form>
	</div>
	<div>
		<h1>Output</h1>
		<dl>
			<dt>inputs value</dt>
			<dd>
				{{
					form.get("input")?.value
						? form.get("input")?.value
						: "No Input set"
				}}
			</dd>
			<dt>NgModel inputs value</dt>
			<dd>{{ model.input ? model.input : "No Input set" }}</dd>
			<dt>textarea value</dt>
			<dd>{{ textarea ? textarea : "No textarea set" }}</dd>
			<dt>textarea default value</dt>
			<dd>
				{{
					textareaDefaultValue
						? textareaDefaultValue
						: "No textareaDefaultValue set"
				}}
			</dd>
			<dt>textareas value</dt>
			<dd>
				{{
					form.get("textarea")?.value
						? form.get("textarea")?.value
						: "No Textarea set"
				}}
			</dd>
			<dt>NgModel textareas value</dt>
			<dd>{{ model.textarea ? model.textarea : "No Textarea set" }}</dd>
			<dt>date inputs value</dt>
			<dd>
				{{ form.get("dateinput")?.value || "No Date Input set" }}
			</dd>
			<dt>radio value</dt>
			<dd>{{ model.radio ? model.radio : "No radio set" }}</dd>
			<dt>checkbox value (ngModel)</dt>
			<dd>checkbox {{ model.checkbox2 ? "" : "un" }}checked</dd>
			<dt>checkbox formControl value</dt>
			<dd>
				checkbox {{ form.get("checkbox")?.value ? "" : "un" }}checked
			</dd>
			<dt>checkbox value indeterminate</dt>
			<dd>checkbox {{ checked[0] && checked[1] ? "" : "un" }}checked</dd>
			<dt>select with ngmodel</dt>
			<dd>{{ model.select ? model.select : "No select set" }}</dd>
			<dt>select value</dt>
			<dd>{{ form.get("select")?.value || "No select set" }}</dd>
			<dt>tags value</dt>
			<dd>{{ getTags() }}</dd>

			<br />

			<db-tabs orientation="vertical">
				<db-tab-list>
					<db-tab-item icon="airplane">Airplane Button</db-tab-item>
					<db-tab-item iconAfter="cancel">Cancel Button</db-tab-item>
					<db-tab-item iconAfter="cancel">
						Long Button Label with a lot of text
					</db-tab-item>
					<db-tab-item icon="airplane" iconAfter="cancel">
						Another Button Label with a lot of text
					</db-tab-item>
					<db-tab-item icon="airplane" [noText]="true"></db-tab-item>
				</db-tab-list>
				<DBTabPanel>
					It is a long established fact that a reader will be
					distracted by the readable content of a page when looking at
					its layout. The point of using Lorem Ipsum is that it has a
					more-or-less normal distribution of letters, as opposed to
					using 'Content here, content here', making it look like
					readable English. Many desktop publishing packages and web
					page editors now use Lorem Ipsum as their default model
					text, and a search for 'lorem ipsum' will uncover many web
					sites still in their infancy. Various versions have evolved
					over the years, sometimes by accident, sometimes on purpose
					(injected humour and the like).
				</DBTabPanel>
				<DBTabPanel>Tab Panel 2</DBTabPanel>
				<DBTabPanel>Tab Panel 3</DBTabPanel>
				<DBTabPanel>
					At vero eos et accusamus et iusto odio dignissimos ducimus
					qui blanditiis praesentium voluptatum deleniti atque
					corrupti quos dolores et quas molestias excepturi sint
					occaecati cupiditate non provident, similique sunt in culpa
					qui officia deserunt mollitia animi, id est laborum et
					dolorum fuga. Et harum quidem rerum facilis est et expedita
					distinctio. Nam libero tempore, cum soluta nobis est
					eligendi optio cumque nihil impedit quo minus id quod maxime
					placeat facere possimus, omnis voluptas assumenda est, omnis
					dolor repellendus. Temporibus autem quibusdam et aut
					officiis debitis aut rerum necessitatibus saepe eveniet ut
					et voluptates repudiandae sint et molestiae non recusandae.
					Itaque earum rerum hic tenetur a sapiente delectus, ut aut
					reiciendis voluptatibus maiores alias consequatur aut
					perferendis doloribus asperiores repellat. n the other hand,
					we denounce with righteous indignation and dislike men who
					are so beguiled and demoralized by the charms of pleasure of
					the moment, so blinded by desire, that they cannot foresee
					the pain and trouble that are bound to ensue; and equal
					blame belongs to those who fail in their duty through
					weakness of will, which is the same as saying through
					shrinking from toil and pain. These cases are perfectly
					simple and easy to distinguish. In a free hour, when our
					power of choice is untrammelled and when nothing prevents
					our being able to do what we like best, every pleasure is to
					be welcomed and every pain avoided. But in certain
					circumstances and owing to the claims of duty or the
					obligations of business it will frequently occur that
					pleasures have to be repudiated and annoyances accepted. The
					wise man therefore always holds in these matters to this
					principle of selection: he rejects pleasures to secure other
					greater pleasures, or else he endures pains to avoid worse
					pains.
				</DBTabPanel>
				<DBTabPanel>Tab Panel 5</DBTabPanel>
			</db-tabs>
		</dl>
	</div>
</div>
