@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/focus";
@use "@db-ui/foundations/build/scss/icons";
@use "@db-ui/foundations/build/scss/helpers";
@use "../../styles/component";
@use "../../styles/db-puls";
@use "../../styles/form-components";

.db-tab {
	@extend %default-interactive-component;
	@extend %transparent-border;

	display: inline-flex;
	padding: variables.$db-spacing-fixed-xs variables.$db-spacing-fixed-sm;
	align-items: center;
	white-space: nowrap;
	position: relative;
	background-color: colors.$db-current-color-bg-transparent-full-enabled;

	@include helpers.hover {
		&:has(:not(input:disabled)) {
			background-color: colors.$db-current-color-bg-transparent-hover;
		}

		&:has(input:disabled) {
			cursor: initial;
		}
	}

	@include helpers.active {
		&:has(:not(input:disabled)) {
			background-color: colors.$db-current-color-bg-transparent-pressed;
		}

		&:has(input:disabled) {
			cursor: initial;
		}
	}

	&:has(input:disabled) {
		opacity: component.$default-disabled;
	}

	input {
		&[type="radio"] {
			@extend %db-puls;
			position: absolute;
			appearance: none;
			inline-size: 100%;
			block-size: calc(100% + #{variables.$db-border-height-3xs});
			margin-inline-end: initial;
			inset: 0;
			cursor: inherit;

			&:focus-within,
			&:focus-visible {
				outline: none;
				box-shadow: none;
			}

			&[data-orientation="vertical"] {
				@include db-puls.set-db-puls-vertical;

				&:checked {
					@include db-puls.show-db-puls-vertical;
				}
			}

			&:not([data-orientation="vertical"]) {
				@include db-puls.set-db-puls-horizontal;

				&::after {
					inset-block-start: calc(
						#{variables.$db-spacing-fixed-xs} * 2 + #{form-components.$font-size-height} +
							#{variables.$db-border-height-3xs} * 2
					);
					inset-block-end: auto;
				}

				&:checked {
					@include db-puls.show-db-puls-horizontal;
				}
			}
		}
	}

	&[data-no-text="true"][data-icon]::before {
		margin-inline-end: 0;
	}

	&:has(input:focus-visible) {
		@extend %focus-placeholder;
	}

	&:has(input:checked) {
		font-weight: 700;
	}

	&[data-icon]::before {
		margin-inline-end: variables.$db-spacing-fixed-sm;
	}

	&[data-icon-after]::after {
		margin-inline-start: variables.$db-spacing-fixed-sm;
	}

	&[data-no-text="true"] {
		@include icons.is-icon-text-replace();
	}

	&[data-width="full"] {
		inline-size: 100%;

		&[data-alignment="center"] {
			text-align: center;
			justify-content: center;
		}
	}
}
