@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";

.db-brand {
	display: flex;
	gap: variables.$db-spacing-fixed-md;
	align-items: center;
	font-weight: 700;

	&::before {
		--db-icon-font-size: #{variables.$db-sizing-md};
		--db-icon-margin-end: 0;
		--db-current-icon-color: #{colors.$db-brand};
	}

	img {
		$logo-size: calc(
			#{variables.$db-sizing-md} - #{variables.$db-sizing-3xs}
		);
		inline-size: $logo-size;
		max-block-size: $logo-size;
	}
}
