<!--
SPDX-FileCopyrightText: 2025 DB Systel GmbH

SPDX-License-Identifier: Apache-2.0
-->

@if (navItem) {
	<db-navigation-item [backButtonText]="getBackButtonText()">
		@if (navItem.subNavigation) {
			<ng-container sub-navigation slot="subNavigation">
				@for (item of navItem.subNavigation; track item.label) {
					<app-nav-item [navItem]="item" />
				}
			</ng-container>
		}
		<ng-container *dbNavigationContent>
			@if (navItem.component) {
				<a
					[routerLink]="navItem.path"
					[routerLinkActiveOptions]="{ exact: true }"
					ariaCurrentWhenActive="page"
					routerLinkActive="active"
					queryParamsHandling="merge"
				>
					{{ navItem.label }}
				</a>
			}
			@if (!navItem.component) {
				{{ navItem.label }}
			}
		</ng-container>
	</db-navigation-item>
}
