@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/helpers";
@use "@db-ui/foundations/build/scss/colors";
@use "@db-ui/foundations/build/scss/animation";
@use "../../styles/form-components";
@use "../../styles/component";

.db-accordion-item {
	@extend %bg-transparent;

	position: relative;
	inline-size: 100%;
	border-radius: variables.$db-border-radius-lg;

	summary + div {
		padding: variables.$db-spacing-fixed-md;
		padding-block-end: variables.$db-spacing-fixed-lg;
	}

	&[aria-disabled="true"] {
		pointer-events: none;
		opacity: variables.$db-opacity-sm;
	}

	summary {
		@extend %dropdown-icon;
		@include colors.bg-transparent-interactive();

		list-style: none;
		display: flex;
		justify-content: space-between;
		padding: variables.$db-spacing-fixed-md;
		gap: variables.$db-spacing-fixed-md;
		border-radius: variables.$db-border-radius-lg;

		&::-webkit-details-marker {
			display: none;
		}

		&::after {
			inset-inline-end: variables.$db-spacing-fixed-sm;
		}

		&:focus-visible {
			border-radius: variables.$db-border-radius-md;
		}
	}

	&[open] {
		summary + div {
			animation: accordion-open
				variables.$db-transition-emotional-straight normal both;
		}

		summary::after {
			transform: form-components.$dropdown-icon-transform;
		}
	}
}

/*
The variant card can be implicitly set by the surrounding accordion component.
 */
.db-accordion[data-variant="card"] {
	.db-accordion-item {
		&::after {
			@extend %component-border;

			content: "";
			position: absolute;
			inset-inline-start: 0;
			inset-block-start: 0;
			inline-size: 100%;
			block-size: 100%;
			border-radius: variables.$db-border-radius-lg;
			pointer-events: none;
		}
	}
}
