<!--
SPDX-FileCopyrightText: 2025 DB Systel GmbH

SPDX-License-Identifier: Apache-2.0
-->

<app-default-component
	title="DBIcon"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-infotext icon="none" size="small" semantic="informational">
			{{ exampleName }}
		</db-infotext>
		<db-icon icon="x_placeholder">{{ exampleName }}</db-icon>
	</ng-template>
</app-default-component>
