@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/colors";
@use "../../styles/form-components";

.db-radio {
	@include form-components.set-default-check-element(radio);

	@media screen and (prefers-reduced-motion: no-preference) {
		input {
			transition: border-width variables.$db-transition-duration-fast
				variables.$db-transition-timing-functional;
		}
	}

	input {
		border-color: currentcolor;
		border-radius: variables.$db-border-radius-full;

		&:checked {
			// The radio element still has the default background for the dot on :hover when in checked state
			&:not(:disabled):hover,
			&:not(:disabled):focus {
				background-color: colors.$db-current-color-bg-enabled;
			}

			&:not([data-size="small"]) {
				border-width: calc(
					(
							#{form-components.$font-size-height} - #{variables.$db-sizing-2xs}
						) / 2
				);
			}

			&[data-size="small"] {
				border-width: calc(
					(
							#{form-components.$font-size-height} - #{variables.$db-sizing-3xs}
						) / 2
				);
			}
		}

		&:focus-visible {
			// Overwrite default border-radius
			border-radius: variables.$db-border-radius-full;
		}
	}
}
