@use "@db-ui/foundations/build/scss/colors";

$backdrop-color: var(
	--db-current-color-enabled,
	var(--db-neutral-on-bg-enabled, #242629)
);

%backdrop {
	background-color: $backdrop-color;
	opacity: 0.64;
}

%backdrop-weak {
	background-color: $backdrop-color;
	opacity: 0.32;
}

%dialog-container {
	position: fixed;
	inset: 0;
	z-index: 9995;
}

dialog {
	padding: 0;
	margin: 0;
	border: 0;
	z-index: 9996;
	color: inherit;

	&[data-backdrop] {
		@extend %dialog-container;
	}

	&:not([data-backdrop="none"]) {
		&::backdrop {
			@extend %backdrop;
		}
	}

	&[data-backdrop="weak"] {
		&::backdrop {
			@extend %backdrop-weak;
		}
	}
}
