**/build
**/public
**/out
**/helpers
**/dist
/packages/components/**
!/packages/components/scripts
/showcases/patternhub/pages/components/**
/showcases/next-showcase/pages/*slug*
/showcases/nuxt-showcase/**
build-outputs/
build-showcases/
/output/vue/scripts/fix-any-types.ts
