.DS_Store
node_modules
npm-debug.log
.history
.idea
**/build/
**/dist/
build-old/
out/
dependencyGraph.json
source/_meta/_head.mustache
source/_meta/_foot.mustache

!e2e/.env
.env
**/*/.env

# vim files
*.swp
*.swo
tags
ctags.tmp
[._]*.un~

packages/components/src/**/*.css
packages/components/src/**/*.css.map

/output/**/src
/output/**/dist
/output/**/.angular
/output/**/playwright*
/output/**/test-results

/showcases/**/results

/build-showcases/
/build-outputs/
!/build-outputs/package.json

.cache
**/playwright-report
/.parcel-cache/
/output/docs.json
showcases/patternhub/public/iframe-resizer/*

**/test-results/
**/recordings/

/__snapshots__/**/*-win32.png
/packages/foundations/assets/icons/functional/tmp/
/packages/foundations/assets/icons/functional/fonts/**/index.html
/packages/foundations/assets/icons/functional/fonts/**/index.css
/packages/foundations/assets/icons/functional/fonts/**/font-face.css
/packages/foundations/assets/icons/functional/fonts/**/info.json
/packages/foundations/scss/_normalize.scss

/packages/foundations/assets/icons/functional/fonts/**/*.eot
/packages/foundations/assets/icons/functional/fonts/**/*.svg
/packages/foundations/assets/icons/functional/fonts/**/*.ttf
/packages/foundations/assets/icons/functional/fonts/**/*.woff
/packages/foundations/assets/icons/functional/fonts/**/*.json
