.DS_Store
node_modules
npm-debug.log
.history
.idea
**/build/
**/dist/
build-old/
out/
dependencyGraph.json
source/_meta/_head.mustache
source/_meta/_foot.mustache

tailwind.config.js
.env
**/*/.env

# vim files
*.swp
*.swo
tags
ctags.tmp
[._]*.un~

packages/components/src/**/*.css
packages/components/src/**/*.css.map

output/power-apps
/output/**/src
/output/**/dist
/output/**/.angular

/build-showcases/
/build-outputs/
!/build-outputs/package.json

/build-power-apps/
!/build-power-apps/package.json
!/build-power-apps/package-lock.json
!/build-power-apps/DBUI/**
