# SPDX-FileCopyrightText: 2025 DB Systel GmbH
#
# SPDX-License-Identifier: Apache-2.0

assets/fonts/**/sources/
public/
package-lock.json
build/
node_modules
output
build-outputs
build-showcases
packages/foundations/scripts/generate-icon-fonts/styles/**
**/__snapshots__
