# Global Repository owners
# see https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners for details of syntax
* maximilian.franzke@deutschebahn.com nicolas.merget@deutschebahn.com anna.schoderer@deutschebahn.com bruno.schadeck@deutschebahn.com
