<!--
SPDX-FileCopyrightText: 2025 DB Systel GmbH

SPDX-License-Identifier: Apache-2.0
-->

<app-default-component
	title="DBSwitch"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-switch
			[visualAid]="exampleProps?.visualAid"
			[checked]="exampleProps?.checked"
			[disabled]="exampleProps?.disabled"
			[required]="exampleProps?.required"
			[showLabel]="exampleProps?.showLabel"
			[size]="exampleProps?.size"
			[emphasis]="exampleProps?.emphasis"
			[icon]="exampleProps?.icon"
			[iconAfter]="exampleProps?.iconAfter"
			[validation]="exampleProps?.validation"
		>
			{{ exampleName }}
		</db-switch>
		@if (
			exampleProps?.showLabel !== undefined &&
			exampleProps?.showLabel !== null &&
			!exampleProps?.showLabel
		) {
			<db-infotext semantic="informational" icon="none">
				{{ exampleName }}
			</db-infotext>
		}
	</ng-template>
</app-default-component>
