<!--
SPDX-FileCopyrightText: 2025 DB Systel GmbH

SPDX-License-Identifier: Apache-2.0
-->

<app-default-component
	title="DBSelect"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-select
			[label]="exampleProps?.label"
			[placeholder]="exampleName"
			[variant]="exampleProps?.variant"
			[showLabel]="exampleProps?.showLabel"
			[options]="exampleProps?.options"
			[disabled]="exampleProps?.disabled"
			[icon]="exampleProps?.icon"
			[required]="exampleProps?.required"
			[value]="exampleProps?.value"
			[message]="exampleProps?.message"
			[showMessage]="exampleProps?.showMessage"
			[invalidMessage]="exampleProps?.invalidMessage"
			[validMessage]="exampleProps?.validMessage"
			[validation]="exampleProps?.validation"
			>{{ exampleName }}</db-select
		>
	</ng-template>
</app-default-component>
