<app-default-component
	title="Select"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-select
			[label]="exampleProps.label"
			[placeholder]="exampleName"
			[variant]="exampleProps.variant"
			[options]="exampleProps.options"
			[disabled]="exampleProps.disabled"
			[icon]="exampleProps.icon"
			[required]="exampleProps.required"
			[value]="exampleProps.value"
			[message]="exampleProps.message"
			[invalidMessage]="
				exampleProps.invalid !== undefined || exampleProps.required
					? 'Invalid Message'
					: undefined
			"
			[validMessage]="
				exampleProps.invalid !== undefined || exampleProps.required
					? 'Valid Message'
					: undefined
			"
			>{{ exampleName }}</db-select
		>
	</ng-template>
</app-default-component>
