<app-default-component
	title="DBTextarea"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-textarea
			[variant]="exampleProps.variant"
			[label]="exampleProps.label"
			[required]="exampleProps.required"
			[disabled]="exampleProps.disabled"
			[readOnly]="exampleProps.readOnly"
			[value]="exampleProps.value"
			[cols]="exampleProps.cols"
			[rows]="exampleProps.rows"
			[placeholder]="exampleProps.placeholder || exampleName"
			[message]="exampleProps.message"
			[invalid]="exampleProps.invalid"
			[invalidMessage]="
				exampleProps.invalid !== undefined || exampleProps.required
					? 'Invalid Message'
					: undefined
			"
			[validMessage]="
				exampleProps.invalid !== undefined || exampleProps.required
					? 'Valid Message'
					: undefined
			"
		></db-textarea>
	</ng-template>
</app-default-component>
