<app-default-component
	title="DBTextarea"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-textarea
			[variant]="exampleProps?.variant"
			[label]="exampleProps?.label"
			[required]="exampleProps?.required"
			[disabled]="exampleProps?.disabled"
			[readOnly]="exampleProps?.readOnly"
			[value]="exampleProps?.value"
			[cols]="exampleProps?.cols"
			[rows]="exampleProps?.rows"
			[showLabel]="exampleProps?.showLabel"
			[placeholder]="exampleProps?.placeholder || exampleName"
			[message]="exampleProps?.message"
			[showMessage]="exampleProps?.showMessage"
			[invalidMessage]="exampleProps?.invalidMessage"
			[validMessage]="exampleProps?.validMessage"
			[validation]="exampleProps?.validation"
		></db-textarea>
	</ng-template>
</app-default-component>
