@use "@db-ui/foundations/build/scss/helpers";
@use "@db-ui/foundations/build/scss/variables";

@mixin accordion-subsequent-item-selector() {
	// angular workaround
	db-accordion-item + db-accordion-item .db-accordion-item,
	.db-accordion-item + .db-accordion-item {
		@content;
	}
}

/*
The styling for the spacings between the items is defined in the accordion, where they meet.
The spacings are not part of the styling of the accordion items themselves.
 */
.db-accordion {
	&[data-variant="background"] {
		@include accordion-subsequent-item-selector() {
			@include helpers.divider($position: "top");

			// One space each before and after the divider results in a double spacing
			margin-block-start: calc(2 * #{variables.$db-spacing-fixed-sm});

			// Moves the divider to the vertical center of the double spacing
			&::before {
				inset-block-start: calc(-1 * #{variables.$db-spacing-fixed-sm});
			}
		}
	}

	&[data-variant="card"] {
		@include accordion-subsequent-item-selector() {
			margin-block-start: variables.$db-spacing-fixed-sm;
		}
	}
}
