@use "@db-ui/foundations/build/scss/variables";
@use "@db-ui/foundations/build/scss/screen-sizes";
@use "../../styles/component";

.db-section {
	padding-inline: variables.$db-spacing-fixed-md;

	@include screen-sizes.screen("md") {
		padding-inline: variables.$db-spacing-fixed-md;
	}

	&[data-width="full"] {
		padding-inline: 0;
	}

	&[data-spacing="none"] {
		padding-block: 0;
	}

	&[data-spacing="small"] {
		padding-block: variables.$db-spacing-responsive-sm;
	}

	&[data-spacing="medium"] {
		padding-block: variables.$db-spacing-responsive-md;
	}

	&[data-spacing="large"] {
		padding-block: variables.$db-spacing-responsive-lg;
	}

	> div {
		margin: 0 auto;

		&[data-width="full"] {
			max-inline-size: none;
		}

		&[data-width="medium"] {
			max-inline-size: screen-sizes.$db-breakpoint-md;
		}

		&[data-width="large"] {
			max-inline-size: screen-sizes.$db-breakpoint-lg;
		}
	}
}
