@use "@db-ui/foundations/build/styles/variables";
@use "@db-ui/foundations/build/styles/screen-sizes";
@use "../../styles/component";

$default-section-padding-inline: variables.$db-spacing-fixed-md;

.db-section {
	&:not([data-width]),
	&[data-width="full"] {
		padding-inline: $default-section-padding-inline;
	}

	&[data-width="medium"] {
		padding-inline: max(
			calc(
				#{$default-section-padding-inline} +
					(100vw - #{screen-sizes.$db-breakpoint-md}) / 2
			),
			#{$default-section-padding-inline}
		);
	}

	&[data-width="large"] {
		padding-inline: max(
			calc(
				#{$default-section-padding-inline} +
					(100vw - #{screen-sizes.$db-breakpoint-lg}) / 2
			),
			#{$default-section-padding-inline}
		);
	}

	@include component.get-data-spacing(
		"padding-block",
		component.$responsive-spacings
	);
}
