<!--
SPDX-FileCopyrightText: 2025 DB Systel GmbH

SPDX-License-Identifier: Apache-2.0
-->

<app-default-component
	title="DBTabItem"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
		><db-tab-list>
			<db-tab-item
				[active]="exampleProps?.active"
				[noText]="exampleProps?.noText"
				[icon]="exampleProps?.icon"
				[iconAfter]="exampleProps?.iconAfter"
				[disabled]="exampleProps?.disabled"
			>
				{{ exampleName }}
			</db-tab-item>
		</db-tab-list>
	</ng-template>
</app-default-component>
