<app-default-component
	title="DBNotification"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-notification
			[semantic]="exampleProps?.semantic"
			[headline]="exampleProps?.headline"
			[linkVariant]="exampleProps?.linkVariant"
			[icon]="exampleProps?.icon"
			[behaviour]="exampleProps?.behaviour"
			[variant]="exampleProps?.variant"
			[timestamp]="exampleProps?.timestamp"
			(onClose)="showNotification(exampleName)"
		>
			@if (exampleProps?.link) {
				<db-link link slot="link" href="#">Textlink</db-link>
			}
			@if (exampleProps?.img) {
				<img
					image
					slot="image"
					src="./assets/images/placeholder.jpg"
					alt="this is a fancy placeholder"
				/>
			}
			{{ exampleName }}
		</db-notification>
	</ng-template>
</app-default-component>
