<app-default-component
	title="DBCard"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-card
			[behaviour]="exampleProps.behaviour"
			[elevationLevel]="exampleProps.elevationLevel"
			[spacing]="exampleProps.spacing"
		>
			<strong>{{ exampleName }}</strong>
		</db-card>
	</ng-template>
</app-default-component>
