/* Styles for the showcases */
.desktop-navigation ul {
	list-style-type: none;
	display: flex;
}

.default-container {
	display: flex;
	flex-direction: column;
	gap: var(--db-spacing-fixed-md);
	padding: var(--db-spacing-fixed-md);
}

.variants-card,
.variants-card > .db-card {
	min-block-size: var(--db-sizing-3xl);
	align-items: center;
	justify-content: center;
	padding: var(--db-spacing-fixed-xl);
	padding-block-end: calc(var(--db-spacing-fixed-xl) + var(--db-sizing-sm));
	position: relative;
}

.variants-list {
	display: flex;
	flex-wrap: wrap;
	inline-size: 100%;
	justify-content: center;
	gap: var(--db-spacing-fixed-md);
}

.variants-list > div {
	align-items: center;
	display: flex;
	gap: var(--db-spacing-fixed-md);
}

.variants-list .db-select,
.w-full {
	inline-size: 100%;
}

.variants-list .db-select,
.variants-list .db-input,
.variants-list .db-textarea {
	margin-block-start: auto;
}

.variants-list .db-select:has([placeholder="(Default) Basic"]),
.variants-list .db-input:has([placeholder="(Default) Basic"]),
.variants-list .db-textarea:has([placeholder="(Default) Basic"]) {
	margin-block-start: 0;
	margin-block-end: auto;
}

.html-code-container {
	display: flex;
	flex-direction: column;
	gap: var(--db-spacing-fixed-md);
}

.example-name {
	margin-block: 0 var(--db-spacing-fixed-md);
}

.link-headline {
	display: block;
	margin-block: var(--db-spacing-fixed-md);
	font-weight: 700;
}

/**
 component container styles
**/

.form-container {
	display: flex;
	gap: var(--db-spacing-fixed-md);
	margin: var(--db-spacing-fixed-md);
}

.form-container fieldset {
	/* Disabling fieldset styles in this specific case */
	padding: 0;
	border-color: transparent;
}

.form-container > div {
	flex-direction: column;
	inline-size: 50%;
}

.button-container {
	display: flex;
	gap: var(--db-spacing-fixed-md);
	padding: var(--db-spacing-fixed-md);
}

.input-container {
	display: flex;
	flex-wrap: wrap;
	gap: var(--db-spacing-fixed-md);
	padding: var(--db-spacing-fixed-md);
}

.input-container > form {
	display: flex;
	flex-wrap: wrap;
	gap: var(--db-spacing-fixed-md);
}

.badge-inline-container {
	display: flex;
	gap: var(--db-spacing-fixed-sm);
	padding: var(--db-spacing-fixed-xs) var(--db-spacing-fixed-sm);
}

.badge-inline-container .db-badge {
	margin-inline-start: var(--db-spacing-responsive-md);
	margin-block: auto;
}

.fixed-header-footer {
	overflow: hidden;
}

.tab-hide-article article {
	display: none !important;
}

.db-page.fixed-header-footer main {
	overflow-x: hidden;
}
