<db-tabs data-testid="tabs">
	<db-tab-list>
		<db-tab-item>All</db-tab-item>
		<db-tab-item data-testid="tab-inputs">Input</db-tab-item>
		<db-tab-item data-testid="tab-textareas">Textarea</db-tab-item>
		<db-tab-item data-testid="tab-selects">Select</db-tab-item>
		<db-tab-item data-testid="tab-checkboxes">Checkbox</db-tab-item>
	</db-tab-list>
	<db-tab-panel>
		<app-form />
	</db-tab-panel>
	<db-tab-panel>
		<app-inputs />
	</db-tab-panel>
	<db-tab-panel>
		<app-textareas />
	</db-tab-panel>
	<db-tab-panel>
		<app-selects />
	</db-tab-panel>
	<db-tab-panel>
		<app-checkboxes />
	</db-tab-panel>
</db-tabs>
