<!--
SPDX-FileCopyrightText: 2025 DB Systel GmbH

SPDX-License-Identifier: Apache-2.0
-->

<app-default-component
	title="DBSection"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-section
			class="db-informational-bg-basic-level-2 section-card-container"
			[spacing]="exampleProps?.spacing"
			[width]="exampleProps?.width"
		>
			<db-card>{{ exampleName }}</db-card>
			<db-card>{{ exampleName }}</db-card>
			<db-card>{{ exampleName }}</db-card>
			<db-card>{{ exampleName }}</db-card>
		</db-section>
	</ng-template>
</app-default-component>
