<app-form-wrapper
	[plain]="plain"
	[model]="ngModel"
	[control]="formControl.value"
>
	<db-input
		label="Plain"
		placeholder="Placeholder"
		message="Description"
		icon="user"
		name="input-name"
		[value]="plain"
		(change)="plain = $event.target.value"
	/>
	<db-input
		label="ngModel"
		placeholder="Placeholder"
		message="Description"
		icon="user"
		name="input-name"
		[(ngModel)]="ngModel"
	/>
	<db-input
		label="formControl"
		placeholder="Placeholder"
		message="Description"
		icon="user"
		name="input-name"
		[formControl]="formControl"
	/>
</app-form-wrapper>
