<!--
SPDX-FileCopyrightText: 2025 DB Systel GmbH

SPDX-License-Identifier: Apache-2.0
-->

<app-default-component
	title="DBBrand"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-brand [hideLogo]="exampleProps?.hideLogo">
			@if (exampleProps?.customLogo) {
				<img
					src="./assets/images/placeholder.jpg"
					alt="this is a fancy placeholder logo"
				/>
			}
			{{ exampleName }}
		</db-brand>
	</ng-template>
</app-default-component>
