<app-default-component
	title="DBNavigation"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<div>
			<db-infotext
				[id]="getId(exampleName)"
				size="small"
				semantic="informational"
				icon="none"
			>
				{{ exampleName }}
			</db-infotext>
			<db-navigation [labelledBy]="getId(exampleName)">
				<db-navigation-item [active]="true">
					<ng-container *dbNavigationContent>
						Navi-Item 1
					</ng-container>
					<ng-container sub-navigation>
						<db-navigation-item [active]="true">
							<ng-container *dbNavigationContent>
								Sub-Navi-Item 1
							</ng-container>
							<ng-container sub-navigation>
								<db-navigation-item [active]="true">
									<ng-container *dbNavigationContent>
										<a href="#">Sub-Sub-Navi-Item 1</a>
									</ng-container>
								</db-navigation-item>
								<db-navigation-item>
									<ng-container *dbNavigationContent>
										<a href="#">Sub-Sub-Navi-Item 2</a>
									</ng-container>
								</db-navigation-item>
							</ng-container>
						</db-navigation-item>
						<db-navigation-item>
							<ng-container *dbNavigationContent>
								<a href="#">Sub-Navi-Item 2</a>
							</ng-container>
						</db-navigation-item>
					</ng-container>
				</db-navigation-item>
				<db-navigation-item icon="user">
					<ng-container *dbNavigationContent>
						<a href="#">Navi-Item 2</a>
					</ng-container>
				</db-navigation-item>
				<db-navigation-item [disabled]="true">
					<ng-container *dbNavigationContent>
						<a href="#">Navi-Item 3</a>
					</ng-container>
				</db-navigation-item>
			</db-navigation>
		</div>
	</ng-template>
</app-default-component>
