<app-default-component
	title="DBCheckbox"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-checkbox
			[label]="exampleProps?.label"
			[disabled]="exampleProps?.disabled"
			[checked]="exampleProps?.checked"
			[value]="exampleProps?.value"
			[required]="exampleProps?.required"
			[indeterminate]="exampleProps?.indeterminate"
			[variant]="exampleProps?.variant"
			[size]="exampleProps?.size"
			>{{ exampleName }}</db-checkbox
		>
	</ng-template>
</app-default-component>
