%grid-layout-variant-not-overlay {
	span {
		display: none;
	}

	// has link
	&:has(a) {
		&:not([data-link-variant="inline"]) {
			// 1. only content (min. requirement)
			grid-template-areas:
				"content"
				"link";
			grid-template-columns: 1fr;

			&:has(.db-button) {
				grid-template-columns: 1fr min-content;
				grid-template-areas:
					"content close"
					"link link";
			}

			// 2. headline
			&:has(header) {
				grid-template-columns: 1fr;
				grid-template-areas:
					"head"
					"content"
					"link";

				&:has(.db-button) {
					grid-template-columns: 1fr min-content;
					grid-template-areas:
						"head close"
						"content content"
						"link link";
				}
			}

			// 3. icon or img
			&[data-icon],
			&[data-semantic]:not([data-semantic="adaptive"]),
			&:has(img) {
				grid-template-areas:
					"icon content"
					"icon link";
				grid-template-columns: min-content 1fr;

				&:has(header) {
					grid-template-columns: min-content 1fr;
					grid-template-areas:
						"icon head"
						"icon content"
						"icon link";

					&:has(.db-button) {
						grid-template-columns: min-content 1fr min-content;
						grid-template-areas:
							"icon head close"
							"icon content content"
							"icon link link";
					}
				}
			}
		}
	}
}
