<!--
SPDX-FileCopyrightText: 2025 DB Systel GmbH

SPDX-License-Identifier: Apache-2.0
-->

<app-default-component
	title="DBDivider"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-infotext size="small" semantic="informational">
			{{ exampleName }}</db-infotext
		>
		<db-divider
			[variant]="exampleProps?.variant"
			[emphasis]="exampleProps?.emphasis"
			[width]="exampleProps?.width"
		>
		</db-divider>
	</ng-template>
</app-default-component>
