<!-- TODO: Content Projection not working for nested components? -> Had to copy paste variant-cards... -->
@if (variantRef) {
	<db-card class="variants-card" [elevationLevel]="getElevation()">
		<div class="variants-list">
			@for (
				example of variantRef.examples;
				track example;
				let exampleIndex = $index
			) {
				<div [style]="example.style" [class]="example.className">
					<ng-container
						*ngTemplateOutlet="
							exampleTemplate;
							context: {
								exampleProps: example.props ?? {},
								exampleName: example.name,
								exampleIndex: exampleIndex,
								variantIndex: variantRefIndex
							}
						"
					>
					</ng-container>
				</div>
			}
		</div>
	</db-card>
}

@if (!variantRef) {
	<div class="default-container">
		<h1>{{ title }}</h1>
		@for (variant of variants; track variant; let variantIndex = $index) {
			<div>
				<db-divider></db-divider>
				<db-link
					class="link-headline"
					content="external"
					target="_blank"
					[href]="getLink(variant.name)"
				>
					<span>{{ variant.name }}</span>
				</db-link>
				<db-card
					class="variants-card"
					[elevationLevel]="getElevation()"
				>
					<div class="variants-list">
						@for (
							example of variant.examples;
							track example;
							let exampleIndex = $index
						) {
							<div
								[style]="example.style"
								[class]="example.className"
							>
								<ng-container
									*ngTemplateOutlet="
										exampleTemplate;
										context: {
											exampleProps: example.props,
											exampleName: example.name,
											exampleIndex: exampleIndex,
											variantIndex: variantIndex
										}
									"
								>
								</ng-container>
							</div>
						}
					</div>
				</db-card>
			</div>
		}
	</div>
}
