@use "@db-ui/foundations/build/scss/init" as *;
@use "@db-ui/foundations/build/scss/variables" as *;
@use "@db-ui/foundations/build/scss/variables.global" as *;
@use "@db-ui/foundations/build/scss/helpers/functions" as *;
@use "@db-ui/foundations/build/scss/color/color-variants" as *;

.db-card {
	@extend %focus-placeholder;
	@extend %color-variants;

	background-color: var(
		--db-current-background-color,
		$db-colors-neutral-bg-0-enabled
	);

	border-radius: 8px;
	box-shadow: $db-elevation-4;
	padding: $db-spacing-fixed-md;

	& > a {
		text-decoration: none;
	}

	&[data-variant="full-width"] {
		width: 100vw;
		border-radius: 0;
	}

	&[data-variant="ia"] {
		&:hover {
			cursor: pointer;
			box-shadow: $db-elevation-4;
		}

		&:active {
			box-shadow: $db-elevation-2;
		}
	}

	// Cards contents are probably deprecated
	// TODO: probably remove after discussions and/or move to demonstration styles for the homepage
	figure {
		margin: $db-spacing-fixed-md $db-spacing-fixed-md $db-spacing-fixed-md
			$db-spacing-fixed-xs;
	}
	// Banner variant
	&[data-variant="banner"] {
		figure {
			display: flex;
		}

		figcaption {
			margin-left: 1rem;

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				font-size: to-rem($pxValue: 18);

				&,
				& ~ p {
					margin: 0.125rem 0;
				}
			}

			p {
				font-size: to-rem($pxValue: 14);

				max-width: to-rem(
					$pxValue: 290
				); // TODO: This would need some rework
			}
		}
	}
	// Tile variant
	&[data-variant="tile"] {
		text-align: center;
	}

	figcaption {
		max-width: 60ch;
	}
}
