<app-default-component
	title="DBRadio"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-radio
			[label]="exampleProps?.label"
			[size]="exampleProps?.size"
			[name]="exampleProps?.name"
			[value]="exampleProps?.value"
			[checked]="exampleProps?.checked"
			[required]="exampleProps?.required"
			[disabled]="exampleProps?.disabled"
			[showLabel]="exampleProps?.showLabel"
			[validation]="exampleProps?.validation"
		>
			{{ exampleName }}
		</db-radio>
		@if (
			exampleProps?.showLabel !== undefined &&
			exampleProps?.showLabel !== null &&
			!exampleProps?.showLabel
		) {
			<db-infotext
				semantic="informational"
				size="small"
				[showIcon]="false"
			>
				{{ exampleName }}
			</db-infotext>
		}
	</ng-template>
</app-default-component>
