<app-default-component
	title="DBTabs"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<div class="w-full">
			<db-infotext icon="none" size="small" semantic="informational">
				{{ exampleName }}:
			</db-infotext>
			<db-tabs
				[orientation]="exampleProps?.orientation"
				[width]="exampleProps?.width"
				[alignment]="exampleProps?.alignment"
				[behaviour]="exampleProps?.behaviour"
				[initialSelectedIndex]="exampleProps?.initialSelectedIndex"
				[initialSelectedMode]="exampleProps?.initialSelectedMode"
				[arrowScrollDistance]="75"
			>
				<db-tab-list>
					<db-tab-item>Test 1</db-tab-item>
					<db-tab-item>Test 2</db-tab-item>
					<db-tab-item>Test 3</db-tab-item>
					@if (exampleProps?.overflow) {
						<db-tab-item>Test 4</db-tab-item>
						<db-tab-item>Test 5</db-tab-item>
					}
				</db-tab-list>
				<db-tab-panel> Tab Panel 1 </db-tab-panel>
				<db-tab-panel> Tab Panel 2 </db-tab-panel>
				<db-tab-panel> Tab Panel 3 </db-tab-panel>

				@if (exampleProps?.overflow) {
					<db-tab-panel> Tab Panel 4 </db-tab-panel>
					<db-tab-panel> Tab Panel 5 </db-tab-panel>
				}
			</db-tabs>
		</div>
	</ng-template>
</app-default-component>
