<app-default-component
	title="DBButton"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
		let-exampleIndex="exampleIndex"
		let-variantIndex="variantIndex"
	>
		<db-button
			[variant]="exampleProps?.variant"
			[size]="exampleProps?.size"
			[icon]="exampleProps?.icon"
			[noText]="exampleProps?.noText"
			[showIcon]="exampleProps?.showIcon"
			[disabled]="exampleProps?.disabled"
			[width]="exampleProps?.width"
			(click)="showAlert(exampleName)"
		>
			{{ exampleName }}
		</db-button>
	</ng-template>
</app-default-component>
