<app-default-component
	title="DBTag"
	[variants]="variants"
	[exampleTemplate]="exampleTemplate"
>
	<ng-template
		#exampleTemplate
		let-exampleProps="exampleProps"
		let-exampleName="exampleName"
	>
		<db-tag
			[semantic]="exampleProps?.semantic"
			[disabled]="exampleProps?.disabled"
			[icon]="exampleProps?.icon"
			[noText]="exampleProps?.noText"
			[behaviour]="exampleProps?.behaviour"
			[emphasis]="exampleProps?.emphasis"
			[overflow]="exampleProps?.overflow"
			[removeButton]="exampleProps?.removeButton"
			(onRemove)="showAlert(exampleName)"
		>
			@if (exampleProps?.component === "button") {
				<db-button>{{ exampleName }}</db-button>
			}
			@if (exampleProps?.component === "link") {
				<db-link href="#">
					{{ exampleName }}
				</db-link>
			}
			@if (exampleProps?.component === "checkbox") {
				<db-checkbox [checked]="exampleProps?.checked">{{
					exampleName
				}}</db-checkbox>
			}
			@if (exampleProps?.component === "radio") {
				<db-radio
					name="radio"
					[name]="exampleProps?.identifier"
					[checked]="exampleProps?.checked"
					>{{ exampleName }}</db-radio
				>
			}
			@if (!exampleProps?.component && !exampleProps?.overflow) {
				{{ exampleName }}
			}
			@if (!exampleProps?.component && exampleProps?.overflow) {
				<span>{{ exampleName }}</span>
			}
		</db-tag>
	</ng-template>
</app-default-component>
