@if (page) {
	<div [class]="getChangeableClasses()">
		<router-outlet></router-outlet>
	</div>
}
@if (!page) {
	<db-page variant="fixed" documentOverflow="auto" [fadeIn]="true">
		<db-header
			header
			[drawerOpen]="drawerOpen"
			(onToggle)="toggleDrawer($event)"
		>
			<db-brand brand>Showcase</db-brand>
			<db-navigation *dbNavigation aria-label="main-navigation">
				@for (item of navigationItems; track item.label) {
					<app-nav-item [navItem]="item"> </app-nav-item>
				}
			</db-navigation>
			<ng-container *dbMetaNavigation>
				@if (isWebComponents) {
					<db-select variant="floating" label="Nothing">
						<option>Nothing here for stencil</option>
					</db-select>
				} @else {
					<db-select
						variant="floating"
						label="Density"
						[(ngModel)]="density"
						(change)="onChange($event)"
					>
						@for (t of densities; track t) {
							<option>
								{{ t }}
							</option>
						}
					</db-select>
					<db-select
						variant="floating"
						label="Color"
						[(ngModel)]="color"
						(change)="onChange($event)"
					>
						@for (c of colors; track c) {
							<option>
								{{ c }}
							</option>
						}
					</db-select>
				}
			</ng-container>
			<ng-container primary-action>
				<db-button
					icon="magnifying_glass"
					variant="ghost"
					[noText]="true"
					>Search</db-button
				>
			</ng-container>
			<ng-container *dbSecondaryAction>
				<db-button icon="person" variant="ghost" [noText]="true">
					Profile
				</db-button>
				<db-button icon="bell" variant="ghost" [noText]="true">
					Notification
				</db-button>
				<db-button
					icon="question_mark_circle"
					variant="ghost"
					[noText]="true"
				>
					Help
				</db-button>
			</ng-container>
		</db-header>
		<div [class]="getChangeableClasses()">
			<router-outlet></router-outlet>
		</div>
	</db-page>
}
